/* center-align text */
.center-text {
    text-align: center;
}

/* right-align text*/
#quiz-page {
    text-align: right;
}

/* header box */
.header-box {
    background-color: #F2BB77;
    padding: 10px;
    margin: 0 auto;
    width: fit-content;
}
