.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.artwork {
    margin: 10px;
}
h1 {
    text-align: center;
}
body {
    display: flex;
    justify-content: space-between;
}
.content {
    width: 75%;
}
.sidebar {
    width: 25%;
    text-align: right;
}