h1 {
    text-align: center;
}
body {
    display: flex;
    justify-content: flex-end;
    background-color: #15f4ee;
    margin: 10px;
}
.welcome-header {
    text-align: center;
}
.directions {
    text-align: center;
}
.main-header {
    text-align: center;
}
.sidebar {
    width: 15%;
    text-align: center;
    margin-left: auto;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.artwork {
    margin: 1vw; /* Use viewport width units for margin */
    border: 2px solid black;
    padding: 2vw; /* Use viewport width units for padding */
    background-color: #ff08fc;
    width: 30%; /* Set a percentage-based width */
}
.artwork img {
    width: 100%; /* Make the image fill 100% of the container */
    height: auto; /* Maintain aspect ratio of the image */
}
.timer-section {
    bottom: 20px;
    right: 20px;
    text-align: right;
}
#timer, #warningMessage {
    display: inline-block;
    margin-bottom: 10px;
}
#instructionsLink {
    font-size: 14px;
    text-align: center;
}
